*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.card{
    padding:2rem 6rem;
    margin:10px;
    position: relative;
    
}
body{
    background-color: wheat;
}

.input{
    margin:10px;
    border-radius: 0.7rem;
    padding:0.85rem;
    box-shadow: 2px 2px 2px rgba(0,0, 0, 0.7);
    border: none;
    text-align: center;
    margin-top: 1.4rem;
    
}
::placeholder{
    font-size: 1rem;
    color: rgb(41, 30, 30);
}
h1{
    text-align: center;
    position: absolute;
    top:10px;
    left:20%;

}
button{
    padding:0.5rem 1.2rem;
    margin:10px;
    border-radius: 0.85rem;
    border: none;
    background-color: black;
    color:orange;
}

li{
    list-style:circle ;
    text-transform: capitalize;
    
}